<div class="companies page">
  <p>List of Australian companies using node.js<p>
  <p>To add your company, edit <a href="https://github.com/polyhack/nodejsau/edit/master/companies.json">companies.json</a> and submit pull request<p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>GitHub</th>
        <th>Twitter</th>
        <th>Location</th>
        <th>Blog / URL</th>
        <th>Hiring?</th>
      </tr>
    </thead>
    <tbody>
    {% for company in companies %}
      <tr>
        <td class="logo"><img src="{{ company.logo }}"></td>
        <td class="name"><a href="{{ company.url }}">{{ company.name }}</a></td>
        <td class="description">{{ company.description }}</td>
        <td class="github"><a href="{{ company.githubUrl }}">{{ company.githubLogin }}</a></td>
        <td class="twitter"><a href="https://twitter.com/{{ company.twitter }}">@{{ company.twitter }}</a></td>
        <td class="location">{{ company.location|default('') }}</td>
        <td class="blog">{% if company.url %}<a href="{{ company.url }}">{{ company.url }}{% endif %}</a></td>
        <td class="hiring">{% if company.hiring %}<a href="{{ company.hiring }}">Yes</a>{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
