<section class="post span10 offset1">

  <h2><a href="/post/{{ post.number }}">{{ post.title }}</a></h2>

  <div class="post-meta">
    <p class="byline">
      by <a href="https://github.com/{{ post.user.login }}">@{{ post.user.login }}</a> on {{ post.date|date("F j, Y") }}
      <a class="permalink" href="/post/{{ post.number }}">permalink</a>
    </p>
  </div>

  <section class="post-body">
    {{ post.body|raw }}
  </section>

  <section class="post-comments">
    <a href="{{ post.url|raw }}">Comments ({{ post.comments }})</a>
  </section>

</section>
