{# SWIG TEMPLATE SEE: https://github.com/paularmstrong/swig/tree/master/docs #}

<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>
    {% if title %}
      [Australian Node.js Developers]: {{ title }}
    {% else %}
      Australian Node.js Developers
    {% endif %}
  </title>
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <span class="brand">Australian Node.js Developers</span>
        <ul class="nav nav-pills">
          <li><a href="#posts">Posts</a></li>
          <li><a href="#developers">Developers</a></li>
          <li><a href="#companies">Companies</a></li>
          <li><a href="#meetups">Meetups</a></li>
        </ul>
        <img class="logo pull-right" src="/img/nodeorgau.svg">
      </div>
    </div>
  </div>

  <div class="container-fluid">

    {% block content %}{% endblock %}

  </div>

  <hr/>
  <footer>
    <div class="container-fluid">
      <p class="muted"><small>&copy; Australian Node.js Developers (a.k.a #polyhack) 2012-2013</small></p>
    </div>
  </footer>

  <script src="/js/nodejsau.min.js" async></script>
</body>
</html>
