body {
     padding-top: 60px;
  padding-bottom: 40px;
     font-family: "Noto Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inner {
  min-height: 55px;
}

.navbar-inverse .navbar-inner {
  background: #565043; /* Old browsers */
  background:         linear-gradient(to bottom, #565043 0%,#353129 100%); /* W3C */
  background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565043), color-stop(100%,#353129)); /* Chrome,Safari4+ */
  background:      -o-linear-gradient(top, #565043 0%,#353129 100%); /* Opera 11.10+ */
  background:     -ms-linear-gradient(top, #565043 0%,#353129 100%); /* IE10+ */
  background:    -moz-linear-gradient(top, #565043 0%, #353129 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #565043 0%,#353129 100%); /* Chrome10+,Safari5.1+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565043', endColorstr='#353129',GradientType=0 ); /* IE6-9 */
}

.navbar-inverse .brand, .navbar-inverse .brand:hover {
        color: rgb(140, 200, 75);
  font-weight: bold;
    font-size: 30px;
  text-shadow: 0 0 3px rgba(140, 200, 75, 0.3);
}

.navbar-inverse .brand:hover {
  text-shadow: 0 0 5px rgba(140, 200, 75, 0.5);
}

.navbar-inverse .logo {
    height: 37px;
  position: absolute;
       top: 5px;
     right: 18px;
}

.navbar-inverse .container-fluid {
  padding-top: 8px;
}

body > .container-fluid {
  margin-top: 20px;
}

table.table td {
  vertical-align: middle;
}

td.avatar {
  text-align: center;
      height: 64px;
       width: 64px;
}

.avatar img {
  max-height: 64px;
   max-width: 64px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.33);
}

.name {
  font-weight: bold;
}

.popover {
  width: 500px;
}